/* @theme custom-theme
 * @auto-scaling false
 */

@import 'uncover';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira%20Mono:400,500,700&display=swap');


:root {
  font-family: 'Roboto';
  text-align: left;
  justify-content: flex-start;
  line-height: 1.4em;
  letter-spacing: normal;
  width: 1280px;
  height: 1024px;
}

rect.label-container {
  fill: #eeeeee;
  stroke: #519EF0;
  stroke-width: 2px;
  filter: drop-shadow(2px 2px lightgray);
}

polygon.label-container {
  fill: #eeeeee;
  stroke: #519EF0;
  stroke-width: 2px;
  box-shadow: 10px 10px lightgray;
}

.label foreignObject {
  overflow: visible;
  display: flex;
  padding: 2px;
}

span.nodeLabel {
  color: black;
}

.flowchart-link {
  stroke: darkgray;
  fill: darkgray;
  stroke-width: 2px;
}

path {
  stroke: darkgray;
  fill: darkgray;
  stroke-width: 2px;
}

span.edgeLabel {
  background-color: white;
  color: black;
}

svg {
  zoom: 1.8;
  line-height: 100%;
}

code {
  font-family: 'Fira Mono', monospace !important;
  box-shadow: 2px 2px lightgray;
  font-size: 70%;
  font-weight: 500;
  line-height: 1.3em;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  margin-top: 0.2em;
  margin-left: 0.1em;
  margin-bottom: 0.5em;
}

pre {
  --preserve-aspect-ratio: xLeftYTop meet;

  filter: none;
  padding-left: 5px;
  margin-top: 0.2em;
  margin-left: 0.1em;
  margin-bottom: 0.5em;
  width: auto;
  font-size: 80%;
}

footer {
  text-align: left;
  position: absolute;
  bottom: 920px;
  left: 1190px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
}

blockquote p {
  color: darkslategray;
  text-align: right;
  font-family: "Fira Mono Medium";
}

header {
  text-align: right;
}

h1 {
  color: #519EF0;
  padding-top: 0.4em;
  margin-bottom: 0.2em;
  font-size: 55pt;
  line-height: 1.2em;
}

h2,
h3,
h4,
h5,
h6 {
  color: #226699;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  letter-spacing: normal;
}

ul,
ol {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
}

kbd {
  font-family: 'Fira Mono', monospace !important;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.1em;
  margin-right: 0.2em;
  box-shadow: 0.1em 0.1em 0em rgba(0, 0, 0, 0.2);
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

section.white h1 {
  color: white;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #519EF0;
}

section::after {
  box-sizing: border-box;
  text-align: center;
  width: 120px;
  height: 120px;
  line-height: 0px;
  color: gray;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 50%, transparent 50%);
  background-size: cover;
}

section.center_code pre {
  --preserve-aspect-ratio: xMidYMid meet;
  margin: 0.5em;
}

section.code_without_margins pre {
  --preserve-aspect-ratio: xMidYMid meet;
  margin: 0.5em;
}

a {
  color: #519EF0;
  text-decoration: underline dotted;
}
